doctype html
html(lang="en")
    head
       include partials/header
    body 
        header.barra
            h1 UpTask - Administrador de Proyectos #{year}
            a(href="/cerrar-sesion") Cerrar Sesión  

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/notificaciones/0" class="boton") Notificaciones
                       span.notificaciones#spanNotificaciones #{cantNotificacion}
                .panel.crear-proyecto
                    a(href="/listado-proyectos/0" class="boton") Mis Proyectos
                .panel.crear-proyecto
                    a(href="/listado-tareas-sin-finalizar/0" class="boton") Mis Tareas Pendientes          
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    if proyecto.avance==100
                                        a(href=`/proyectos/${proyecto.url}`)=proyecto.nombre
                                        i(class="fa fa-check circle letra-verde" style={margin: '5px'})
                                    else 
                                        a(href=`/proyectos/${proyecto.url}`)=proyecto.nombre
            block contenido    

            //pre=vardump(notificaciones[0])
    script(src="/dist/bundle.js")
    script(src="https://kit.fontawesome.com/236390430e.js", crossorigin="anonymous")        